################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleWebApp/.vs
/MessingWithCSS_w18/.vs
