
@{
	ViewBag.Title = "MyBooksLinks";
	Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<h2>My Book Links</h2>
<div class="row">
	<div class="col-md-4 col-sm-2 col-2" style="background-color:lightblue">@ViewBag.Message</div>
</div>

